.container {
  display: flex;
  flex-direction: column;
  background-color: #F2F1FF;
  height: 90%;
  width: 80%;
  padding: 30px;
  border-radius: 30px;
  box-shadow: 5px 5px 4px #776ec2;
}

.container h2 {
  margin-bottom: 0;
}
  
.container p {
  margin-top: 0;
}

.bodyContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5%;
}

.listContainer {
  display: flex;
  width: 70%;
  flex-direction: column;
  cursor: pointer;
  margin-left: 20px;
  align-content: center;
}

.listContainer ul {
  height: 2rem;

  margin-top: 0;
  padding-right: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;

  font-size: 18px;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #FDFDFD;
  color: #696E83;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.listContainer ul p  {
  margin-left: 1rem;
}

.listContainer ul a {
  color: #696E83;
}

.buttons {
  margin-left: 20px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
}

.button {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  border: 0px;
  box-shadow: 2px 2px #776ec2;
  font-size: 16px;
  padding: 10px;
  font-weight: bold;
  display: block;
  margin-bottom: 20px;
}