.container {
    display: flex;
    flex-direction: column;
    background-color: #F2F1FF;
    height: 85%;
    width: 95%;
    padding: 50px;
    border-radius: 30px;
    box-shadow: 5px 5px 4px #776ec2;
    margin-left: 200px;
  }
.container h2 {
    font-weight: 500;
    margin-bottom: 0;
 }
  
.container p {
    margin-top: 0;
}
.headercontainer {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 25px;
  font-size: 24px;
}
.headercontainer p {
  color: #776ec2;

}
.searchContainer {
  margin-top: 35px;

  padding: 5px;
  display: flex;
  flex-direction: row;
}
.searchContainer form input {
  font-size: 16px;
  width: 200px;
  height: 30px;
  border-radius: 15px;
  border: 2px solid #FDFDFD;
  margin-bottom: 10px;
  margin-right: 30px;
  padding-left: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Adjust shadow properties */

  

}

.searchContainer button {
  color: #61677D;
  width: 30px;
  height: 30px;
  background-color: #61677D;
  border: 1px;
  border-radius: 10px;
  
}
.searchContainer form input:focus {
  outline: #776ec2;
}

.searchContainer form input::placeholder {

  color: #776ec2;
}


.listContainer ul{
  
  margin-top: 30px;
  height: 50px;
  width: 800px;
  padding-right: 40px;
  width: 90%;
  
  padding-bottom: 30px;
  border-radius: 30px;
  border: 2px solid #FDFDFD;
  padding-left: 20px;
  background-color: #FDFDFD;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Adjust shadow properties */


  
}
.listContainer hr {
  color: #DEDCFD;
  max-width: 700px;
  margin: 0;
}
.listContainer ul h2  {
  font-size: 18px;
  font-weight: 300;
  

}
.listContainer ul p  {
  font-size: 18px;
  color: #696E83;
  font-weight: 700;
  display: flex;
  
  align-items: center;
}


