.container {
  display: flex;
  flex-direction: column;
  background-color: #F2F1FF;
  height: 90%;
  width: 80%;
  padding: 30px;
  border-radius: 30px;
  box-shadow: 5px 5px 4px #776ec2;
}

.bodyContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  margin-top: 5%;
  margin-left: 1%;
}

.listContainer {
  width: 100%;
}

.listContainer ul {
  height: fit-content;
  padding-left: 20px;
  padding-right: 40px;
  padding-bottom: 30px;

  border-radius: 30px;
  border: 2px solid #FDFDFD;
  background-color: #FDFDFD;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.listContainer hr {
  color: #DEDCFD;
}

.listContainer ul h2  {
  font-size: 18px;
  font-weight: 300;
}

.listContainer ul p  {
  font-size: 18px;
  color: #696E83;
}
