.container {
  display: flex;
  flex-direction: column;
  background-color: #F2F1FF;
  height: 90%;
  width: 80%;
  padding: 30px;
  border-radius: 30px;
  box-shadow: 5px 5px 4px #776ec2;
}

.bodyContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5%;
  margin-left: 1%;
}

.listContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.listContainer ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 0;
  height: 12rem;
  width: 12rem;
  margin-right: 2rem;

  background-color: #FDFDFD;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  border: 2px solid #FDFDFD;
}

.listContainer ul button {
  display: block;

  width: 6rem;
  height: 6rem;

  background-color: #A9B7E7;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  border: 2px solid #6E7BC1;
}

.listContainer ul p  {
  font-size: 18px;
  color: #696E83;
  margin-top: 10px;
  display: block;
}

.link {
  text-decoration: none;
  text-align: center;
  display: block;
}