.container {
    display: flex;
    flex-direction: column;
    background-color: #F2F1FF;
    height: 85%;
    width: 80%;
    padding: 50px;
    border-radius: 30px;
    box-shadow: 5px 5px 4px #776ec2;
  }
  .container h2 {
    font-weight: 500;
    margin-bottom: 0;
  }
  
  .container p {
    margin-top: 0;
  }
  
  .headercontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px;
    font-size: 24px;
  }
  
  .headercontainer p {
    color: #776ec2;
  }
  
  .searchContainer {
    margin-top: 35px;
    padding: 5px;
    display: flex;
    flex-direction: row;
  }
  
  .searchContainer form input {
    font-size: 16px;
    width: 200px;
    height: 30px;
    border-radius: 15px;
    border: 2px solid #FDFDFD;
    margin-bottom: 10px;
    margin-right: 30px;
    padding-left: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Adjust shadow properties */
  }
  
  .searchContainer button {
    color: #61677D;
    width: 30px;
    height: 30px;
    background-color: #61677D;
    border: 1px;
    border-radius: 10px;
    margin-top: 5px;
  }
  
  .searchContainer form input:focus {
    outline: #776ec2;
  }
  
  .searchContainer form input::placeholder {
    color: #776ec2;
  }
  
  .bodyContainer{
    display: flex;
    justify-content: space-between;
  
  }
  
  .addButton{
    background-color: #fff;
    border-radius: 10px;
    border: 0px;
    box-shadow: 2px 2px #776ec2;
    font-size: 16px;
    padding: 10px;
    font-weight: bold;
  }
  
  .announcementTableContainer{
    max-height: 60vh; 
    overflow-y: auto;
  }
  
  .announcementTable{
    width: 50vw;
    font-size: 24px;
    border-collapse: separate;
    border-spacing: 0 20px;
  }
  
  .announcementRow {
    box-shadow: 4px 2px 4px #776ec2;
    border-radius: 20px;
  }
  
  .announcementRow td {
    padding: 10px;
  }
  
  
  
  
  