.container {
    display: flex;
    flex-direction: column;
    background-color: #F2F1FF;
    height: 90%;
    width: 80%;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 5px 5px 4px #776ec2;
}

.message {
    font-size: 18px;
    color: #666;
    display: block;
    margin: 0 0 5px 24px;
}

.boxesContainer {
    display: flex;
    height: 100%;
    width: 70%;
    gap: 20px;               /* Space between each box */
    flex-direction: column;  /* Aligns items vertically */
    cursor: pointer;
    margin-top: 5%;
    margin-left: 20px;
    align-content: center;
}

.notificationBox {
    background-color: #ffffff;
    width: 100%;
    height: auto;
    min-height: 10%;
    display: flex;
    border-radius: 20px;
    box-shadow: 3px 5px 8px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
    cursor: pointer;
    padding: 8px 15px 5px;
    white-space: nowrap;
    font-weight: bold;
}

.notificationBox:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
