.container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.tab {
  background-color: white;
  width: 98px;
  height: 54px;
  border-top-left-radius: 20px 20px;
  border-bottom-left-radius: 20px 20px;
  cursor: pointer;
}

.topRadius {
  background-color: transparent;
  width: 30px;
  height: 30px;
  border-bottom-right-radius: 100px;
  box-shadow: 5px 5px 0 5px #fff;
}

.bottomRadius {
  background-color: transparent;
  width: 30px;
  height: 30px;
  border-top-right-radius: 100px;
  box-shadow: 10px -10px 0 5px #fff;
}
